<html>
<head>
<style type="text/css">
	div.topbar {
		height: 30px;
		background-color: ;
		position: absolute;
		left: 50px;
	}
	div.navigation{
		height: 30px;
		width: 600px;
		background-color: ;
		position: absolute;
		left: 50px;
		top: 50px;
	}
	
	div.content {
		position: absolute;
		top: 80px;
		left: 50px;
	}
	
	.menuitem {
		width: 100px;
		height: 30px;
		float: left;
		margin-left: 10px;
		font-size: 110%
	}
	
	div.article {
		background-color: #EEEEEE;
		padding: 10px 10px 40px 10px;
		width: 600px;
		float: left;
	}
</style>
</head>
<body>

<div class="topbar"></div>

<div class="navigation">
	<div class="menuitem"><a href="/"><b>Home</b></a></div>
	<div class="menuitem"><a href="/about">About</a></div>
	<div class="menuitem"><a href="/edit">Edit</a></div>
	<% if $credentials %>
	  <% if $credentials[0] != '' %>
		<div class="menuitem"><a href="/logout">Logout</a></div>
		<% if $credentials[0] == "Admin" %>
		  <div class="menuitem"><a href="/admincontrols">Admin Controls</a></div>
		<% end %>
	  <% else %>
		<div class="menuitem"><a href="/login">Login</a></div>
	  <% end %>
	<% else %>
	   <div class="menuitem"><a href="/login">Login</a></div>
	<% end %>
	<br><br>
</div>
<div class="content">
<h1>Admin Controls</h1>
  <table border="2">
    <tr>
      <td>
        <p>Username</p>
      </td>
      <td>
        <p>Date Joined</p>
      </td>
      <td>
        <p>Can edit?</p>
      </td>
      <td>
        <p>Edit Rights</p>
      </td>

      <td>
        <p>Delete User</p>
      </td>
    </tr>
    <% @list2.each do |liste| %>
      <tr>
        <td>
          <p>
            <%= liste.username %>
          </p>
        </td>
        <td>
          <p>
            <%= liste.date_joined.strftime("%T - %m/%d/%Y") %>
          </p>
        </td>
        <td>
          <p>
            <%= liste.edit %>
          </p>
        </td>

        <td>
          <form action="/user/<%= liste.username %>" method="post" id="edit">
            <input type="hidden" name="_method" value="put">
            <input type="checkbox" name="edit"<%= "checked" if liste.edit %>>
            <input type="submit" value="Change Edit Rights">
          </form>
        </td>
        <td>
          <form action="/user/delete/<%= liste.username %>" method="get">
            <input type="hidden" name="_method" value="put">
            <input type="submit" value="Delete User">
          </form>
        </td>
      </tr>
    <% end %>
  </table>
  
  
  <h2>Archive the article</h2>
  <form action='/archive' method='post'>
		<input type="submit" value="Archive the article">
	</form>
	
	<b><a href="/create"> Add a post to main page </a></b>
	
	</div>
	</body>
	</html>
